.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f7fb;

    &__card {
        max-width: 800px;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        :global(.ant-card-body) {
            padding: 0 !important;
        }
    }

    &__wrapper {
        display: flex;
        max-height: 500px;
    }

    &__side-image {
        flex: 1.1;
        padding: 12px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px;
        }
    }

    &__form-container {
        flex: 1;
        padding: 30px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__header {
        text-align: center;
    }

    &__field {
    }

    &__error-msg {
        color: #ff4d4f;
        font-size: 12px;
        display: block;
    }

    &__btn-submit {
        font-weight: 600;
    }

    &__btn-google {
        border-color: #d9d9d9 !important;
    }
}
