.uploadButton {
    &__dragger {
        padding: 20px;
        background: #fafafa;
        border-radius: 8px;

        &-icon {
            color: #40a9ff;
            font-size: 48px;
        }
    }

    &__fileInfo {
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 6px;

        &-space {
            width: 100%;
            justify-content: space-between;
        }

        &-details {
            display: flex;
            flex-direction: column;
        }

        &-size {
            margin-top: 4px;
        }

        &-deleteBtn {
            padding: 0;
        }
    }

    &__select {
        width: 100%;
        margin-bottom: 16px;
    }
}
