.filter {
    &__inputs {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__field {
        min-width: 300px;
    }

    &__actions {
        margin-top: 20px;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        margin-bottom: 20px;
    }
}
