.wrapper {
    display: grid;
    :global {
        .ant-table-tbody > tr > td {
            background-color: #ffffff !important;
            font-weight: 400 !important;
        }

        .ant-table-thead > tr > th {
            text-align: center !important;
            padding: 8px !important;
        }
    }

    &__table {
        overflow-x: auto;
    }
}

.export__btn {
    justify-self: end;
    margin-bottom: 20px;
}

.headerBlue {
    background-color: #f0faff !important;
    color: #000 !important;
    vertical-align: middle !important;
    font-weight: 600 !important;
}

.headerGreen {
    background-color: #d9ead3 !important;
    color: #000 !important;
    font-weight: 600 !important;
}

.headerPink {
    background-color: #fce4ec !important;
    color: #000 !important;
    font-weight: 600 !important;
}

.summaryRow {
    :global(.ant-table-cell) {
        background-color: #ffffff !important;
        font-weight: 400 !important;
        border-top: 1px solid #f0f0f0 !important;
    }
}
